* {
    box-sizing:border-box
}

body {
    margin:.5rem 1rem;
}

body,
textarea {
    font-size:1.5rem;
}

a {
    color:blue;
    text-decoration:none;
}

textarea {
    font-size:2.25rem;
    width:100%;
}

.spacer {
    margin:0 .375rem;
}
