* {
    box-sizing:border-box
}

:root {
    --color-fg: black;
    --color-bg: white;
    --color-a: blue;
    --color-textarea: #eee;
}

[data-theme="dark"] {
    --color-fg: white;
    --color-bg: black;
    --color-a: #4b9bff;
    --color-textarea: #111;
}

body {
    background:var(--color-bg);
    color:var(--color-fg);
    margin:.5rem 1rem;
}

h1, .spacer {
    color:var(--color-fg);
}

body,
input, 
textarea {
    font-size:1.5rem;
    line-height:1.4;
}

a {
    color:var(--color-a);
    text-decoration:none;
}

.crumbs a {
    color:var(--color-fg);
}

.name,
.crumbs,
.filename {
    font-family:monospace;
}

textarea {
    background:transparent;
    color:var(--color-fg);
    font-size:2.25rem;
    width:100%;
}

h1 {
    font-weight:normal;
    font-size:5.5rem;
    margin:1rem 0;
    line-height:1.15;
}

.parent {
    color:#ff0053;
    font-size:2.5rem;
    vertical-align:super;
    margin-right:.75rem;
}

#dirs {
    font-family:sans-serif;
    margin:0 0 1rem;
}

.spacer {
    margin:0 .625rem;
}

.add-dir {
    vertical-align:middle;
    border:none;
    outline:none;
    font-weight:bold;
    font-family:monospace;
    font-size:1.5rem;
    background:#ffff9f;
}

button {
    margin:0;
}

input {
    outline:none;
    border:0;
    padding:0;
    background:lightyellow;
}

#dirs a {
    margin-right:1rem;
}

.right {
    float:right;
}

img {
    max-width:100%;
    max-height:130vh;
}

textarea {
}

.info__bot,
.info__type {
    margin-left:1rem;
}

.info__del {
    float:right;
}
