* {
    box-sizing:border-box
}

div[tabindex="-1"]:focus {
  outline: 0;
}

:root {
    --color-fg: black;
    --color-bg: white;
    --color-a: blue;
    --color-textarea: #eee;
    --color-yellow: #ffff00;
    --font-monospace: 'DejaVu Sans Mono', monospace;
}

[data-theme="dark"] {
    --color-fg: white;
    --color-bg: black;
    --color-a: #4b9bff;
    --color-yellow: #fff74b;
    --color-textarea: #111;
}

body {
    background:var(--color-bg);
    color:var(--color-fg);
    margin:.5rem 1rem;
}

h1, .spacer {
    color:var(--color-fg);
}

body,
input, 
textarea {
    font-size:1.5rem;
    line-height:1.4;
    font-family: var(--font-monospace);
}

a {
    color:var(--color-a);
    text-decoration:none;
}

.crumbs {
    display:inline;
}

.crumbs a {
    color:var(--color-fg);
}

.name,
.crumbs,
.filename {
    font-family:var(--font-monospace);
}

h1 {
    margin:0 0 1rem;
    line-height:5rem;
}

h1, h1 input {
    font-weight:normal;
    font-family:var(--font-monospace);
}

h1.title,
h1 input {
    font-size:4.5rem;
    line-height:1.15;
}

h1 input {
    background:transparent;
    color:var(--color-fg);
    vertical-align:bottom;
}

.parent {
    color:#ff0053;
    font-size:2.5rem;
    vertical-align:text-bottom;
    margin-right:.75rem;
}

#dirs {
    font-family:sans-serif;
    margin:0 0 1rem;
}

.spacer {
    margin:0 .625rem;
}

.add-dir {
    vertical-align:middle;
    border:none;
    outline:none;
    //font-weight:bold;
    font-family:var(--font-monospace);
    font-size:1.5rem;
    background:var(--color-yellow);
    color:black;
}

.add-text {
    font-size:1.5rem;
    font-family:var(--font-monospace);
    //border-radius:5px;
    //border-color:black;
    padding:.375rem .5rem;
    margin:.25rem 0 2rem;
    background:#277739;
    color:white;
}

.add-info {
    font-size:1.25rem;
    font-family:var(--font-monospace);
    padding:.375rem .5rem;
    margin:.25rem 0 1rem;
    background:#6e00b5;
    color:white;
}

button {
    margin:0;
}

input {
    outline:none;
    border:0;
    padding:0;
    background:lightyellow;
}

#topics .topic,
#dirs a {
    margin-right:1rem;
    display: inline-block;
}

.topic a {
    margin-right:.5rem;
}


.right {
    float:right;
}

video,
img {
    max-width:100%;
    max-height:100%;
}

.list-media img,
.list-media video  {
    max-width:35rem;
    max-height:35rem;
}

.no-sort .info__drag {
    display:none;
}

.info__drag {
    background:var(--color-fg);
    opacity:.1;
    /*
    border:1px white solid;
    border-color:var(--color-fg);
    */
    height:1.5rem;
    width:5rem;
    display:inline-block;
    vertical-align:middle;
    cursor:row-resize;
}

.info button {
    vertical-align: middle;
    padding:0;
    margin-left:1rem;
}

.info .info__bot {
    vertical-align: baseline;
}

.info__del {
    float:right;
}

#links {
    margin-bottom:.25rem;
}

#siblings {
    display:inline;
    margin-left:1rem;
}

#targets a,
#siblings a,
#links a {
    margin-right:.75rem;
    font-family:var(--font-monospace);
}

#targets a {
    margin-right:0;
    margin-left:1rem;
}

.links__top a {
    color:var(--color-fg);
    opacity:0.3;
}

a.switch-link {
    margin-left:.25rem;
    opacity:.8;
}

.switch-link span {
    margin-right:.5rem;
}

button {
    border:none;
    background:transparent;
    color:var(--color-fg);
    outline:none;
    cursor: pointer;
}

.active {
    color:red;
}

.nonexistent input {
    opacity:.6;
}

.siblings {
    display:inline;
}
.siblings a {
    margin-right:.625rem;
    opacity:.5;
}

.siblings .active {
    opacity:1;
    background:transparent;
    color:var(--color-fg);
}

#targets .public.active,
.crumbs .public,
#links .public {
    color:orange;
}

#targets .private.active,
.crumbs .private,
#links .private {
    color:hsl(122, 63%, 47%)
}

#targets .public,
#targets .private {
    color:var(--color-fg);
}

.sortable-ghost {
    opacity:0.5;
}

.sortable-drag {
    background:var(--color-bg);
}

.info__drag {
    margin-right:1rem;
}

.info__drag svg {
    height:1.25rem;
    vertical-align:middle;
}

.dirs__list {
    display:inline-block;
}

.info__name input {
    cursor:pointer;
}

.info__name {
    color:var(--color-fg);
}

.info__rename {
    background:#ffffb5;
    color:black;
}

.info__rename:disabled {
    background:transparent;
    color:var(--color-fg);
}

.text {
    margin:0 0 2rem;
}

.text {
    max-width:60rem;
}

.info__type {
    display:none;
}

.info button,
.info input,
.info {
    font-size:1rem;
    font-family:var(--font-monospace);
}

.info .info__edit {
    margin-right:.4rem;
    color:white;
}

.info svg {
    height:1rem;
}

svg.rarr {
    height:.7rem;
    fill:blue;
    margin-bottom:1px;
}

.info {
    margin-bottom:.375rem;
}

.info__drag {
    margin-left:10rem;
}

a.info__name,
.info input {
    padding:2px 4px;
}

div.text-field {
    white-space: pre-wrap;
}

.text-field {
    background:transparent;
    color:var(--color-fg);
    font-size:2.64rem;
    width:100%;
    overflow:hidden;
}

.text textarea {
    padding:0;
    /*
    background: var(--color-textarea);
    */
    outline:none;
    border:none;
}

.errbox {
    margin-right:.375rem;
    vertical-align:top;
    margin-top:.125rem;
    width:1.25rem;
    height:1.25rem;
    background:grey;
    display:inline-block;
}

.success .errbox {
    background:green;
}

.fail .errbox {
    background:red;
}

.success {
    color:white;
}
.success svg {
    vertical-align:middle;
}

.err {
    vertical-align:top;
    font-size:1.25rem;
    margin-right:.75rem;
    font-family:sans-serif;
    white-space:pre-wrap;
    max-width:40rem;
    display:inline-block;
    background:orange;
    padding:.25rem;
}

.addtext--crumb {
    margin-left:.25rem;
}

.addtext--crumb svg {
    height:1rem;
    vertical-align:baseline;

}

#topics {
    margin:1rem 0 0;
}

.info .yellow button {
    color:var(--color-yellow);
    color:white;
}

.info .group button {
    color:blue;
}

.group button:last-child {
    margin-left:0;
}

.info .red button {

    color:#ff0053
}